*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
html{
    font-size: 62.5%;
}
.manu-bar{
    display: flex;
    justify-content: space-between;
    background-color: #171717;
    color: white;
    height: 4.5rem;
    margin: 2rem;
    position: fixed;
    width: 100vw;
    top :0;
}
.manu-bar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    /* box-sizing: border-box; */
    
}
.manu-bar ul li a{
    text-decoration: none;
    color: white;
    margin: 3rem 4rem;
    font-size: 2rem;
    
    padding: 0 1rem;
    /* background-color: gray; */
    
}
.manu-bar ul li a:hover{
    /* border: 1px solid white; */
    /* transition: 0.5s ease; */
    box-sizing:content-box;
    color: wheat;
}
.main-container{
    background-image: url("bg.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}
.center-letter{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.center-letter h1{
    margin: 3rem;
    font-size: 3rem;
}
.contect{
    width: 15rem;
    height: 4rem;
    background-color:black;
    color: white;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    cursor: pointer;
    /* background- */
    
}
.center-letter button:hover{
    background-color: white;
    color: black;
    transition: 1s ease-in-out;
}
.logo{
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin-left: 10rem;
}
.services{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    font-size: 3rem;
    
}
.service-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: #E8F0F2;
    width: 80vw;
    box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98);
    -webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98);
    -moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98);
    border-radius: 1rem;
}
.service-word{
    flex-basis: 60%;
    
    height: 30rem;
    margin-left: 3rem;
}
.sevice-img{
    flex-basis: 40%;
    height: 30rem;
    background-color: yellow;
}
.service-heading{
    margin-bottom: 3rem;
}
.gallery-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F0F2;
    flex-direction: column;
    font-size: 3rem;
    overflow: hidden;
}
/* .contect-container */
.contect-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    flex-direction: column;
    /* font-size: 3rem; */
}
.form-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 1.5rem;
    background-image: url('form-bg.jpg');
    background-position: center;
    background-size: cover;
}
.form{
    background-color: #E8F6EF;
    height: 40rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}
.from-element{
    margin: 1rem 0;
}
.from-element label{
    width: 15rem;
}
.submit-btn button{
    border-radius: 2rem;
    margin-top: 3rem;
    width: 15rem;
    height: 3rem;
    background-color: #0A1931;
    color: white;
}
.submit-btn button:hover{
    background-color: #0d4194;
}
.input-item{
    border: none;
    border-bottom: 0.1rem solid black;
    background-color: #E8F6EF;
    outline: none;
    font-size: 1.5rem;
    width: 30rem;
}
.contact-us{
    margin-bottom: 3rem;
    text-transform: uppercase;  
}
@media (max-width:400px) {
    html{
        font-size: 22%;
    }
    .review-container{
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 150rem; */
        /* margin: 0; */
    }
    .review{
        margin: 30rem;
    }
    
}

.img-section img{
    height: 25rem;
    width: 25rem;
    border-radius: 1rem;
}
.img-section img:hover{
    transform: scale(1.4);
    /* position: relative; */
}
.sevice-img{
    background-image: url("./pop_photo/34.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
}
.heading{
    width: 30rem;
    height: 6rem;
    /* background-color: #fff; */
    text-align: center;
    text-transform: uppercase;
    border-radius: 1rem;
    border-bottom: 4px solid black;
    /* box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98);
-webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98);
-moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98); */
font-size: 4rem;
}
.review{
    height: 15rem;
    width: 40rem;
    background-color: red;
    margin: 0 2rem;
    overflow: hidden;
    box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98);
    -webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98);
    -moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.98);
    flex: 0 0 33.3%;
    

}
.user-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: yellow;
    font-size: 1.5rem;
    padding:0 3rem;
}
.user-comments{
    padding: 2rem;
    font-size: 1.5rem;
}
.details img{
    height: 3rem;
    width: 3rem;
}
.review-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130rem;
    height: 100rem;
    /* height: 10rem; */
    margin: 0;
    background-color: blanchedalmond;
    /* justify-content:s; */
    /* flex: 0 0 33.333333%; */
    /* overflow: scroll; */
    flex-wrap: wrap;
}
footer{
    height: 10rem;
    background-color: black;
    width: 100vw;
    /* position:fixed; */
    /* bottom: 0; */
}
.contect-container{
    
}


